:root {
    --light: #EBEBEB;
    --darker-light: color-mix(in srgb, var(--light) 85%, black 15%);
    /* --dark: #1C1C1C; */
    --dark: #181818;
    --lighter-dark: color-mix(in srgb, var(--dark) 90%, white 10%);
    --primary: #3d74ff;
    --lighter-primary: color-mix(in srgb, var(--primary) 90%, white 10%);
    --border: #8e8e8e;
    --link: #4a97ce;

    --spotify-green: #3be377;

    --green: #28a745;
    --red: #d9534f;
    --yellow: #ffc107;

    --stack: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}
